.header {
  width: 100%;
  height: 68px;
  background-color: #f2f4f7;
  border-bottom: 1px solid #f2f4f7;
  display: flex;
  align-items: center;
}

.container {
  width: 100%;
  max-width: 100%;
  margin: 0 auto;
  padding: 0 120px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav {
  display: flex;
  gap: 32px;
}

.navLink {
  font-family: var(--font-manrope), sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 125%;
  text-align: center;
  color: #101828;
  text-decoration: none;
  transition: color 0.3s ease;
}

.navLink:hover {
  color: #0b44cd;
}
