:root {
  --font-manrope: "Manrope", sans-serif;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  background-color: #ffffff; /* Обов'язково білий фон за макетом */
  color: #121417;
  font-family: var(--font-manrope);
}

a {
  color: inherit;
  text-decoration: none;
}
