.hero {
  min-height: calc(100vh - 68px);
  background-image: url("/Picture.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  flex-direction: column;
}
.content {
  text-align: center;
  color: #ffffff;
  max-width: 784px;
  width: 100%;
  padding-bottom: 60px;
}

.title {
  font-family: var(--font-manrope), sans-serif;
  font-weight: 700;
  font-size: 60px;
  line-height: 1.2;
  text-align: center;
  color: #fff;
  margin-bottom: 16px;
}

.subtitle {
  font-family: var(--font-manrope), sans-serif;
  font-weight: 600;
  font-size: 24px;
  line-height: 1.33;
  text-align: center;
  color: #fff;
  margin-bottom: 40px;
}

.ctaButton {
  width: 276px;
  height: 44px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  background-color: #3470ff;
  color: #fff;
  font-family: "Manrope", sans-serif;
  font-weight: 600;
  font-size: 16px;
  line-height: 1.25;
  border-radius: 12px;
  text-decoration: none;
  transition: background-color 0.3s ease;
}

.ctaButton:hover {
  background-color: #0b44cd;
}
