.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;
  padding-bottom: 150px;
}

.carGrid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 50px 29px;
  margin-top: 50px;
  margin-bottom: 100px;
  width: 100%;
}

.loadMoreBtn {
  width: 156px;
  height: 44px;
  padding: 12px 0;
  background-color: #ffffff;
  border: 1px solid #3470ff;
  border-radius: 12px;
  font-family: var(--font-manrope), sans-serif;
  font-weight: 600;
  font-size: 16px;
  line-height: 1.25;
  color: #101828;

  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: all 250ms ease;
}
.loadMoreBtn:hover {
  background-color: rgba(52, 112, 255, 0.05);
  border-color: #0b44cd;
}

.loader {
  margin: 50px 0;
  font-family: var(--font-manrope), sans-serif;
}
